.logo {
    max-width: 100%;
    height: 300px;
}

.wrapper {
    max-width: 700px;
	box-sizing: border-box;
	margin: 0 auto;
}

h1 {
    font-weight: unset;
    margin: 30px 0 16px 0;
    text-align: center;
}

nav>p {
    color: var(--grey);
    font-size: 1.3rem;
    font-weight: 100;
    margin-bottom: 32px;
    text-align: center;
}

.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

.para {
    font-size: 1.5rem;
    line-height: 2.1rem;
    font-weight: 100;
}

.end {
    text-align: center;
}

.sub-line {
    font-style: italic;
    font-size: 1.1rem;
    font-weight: 100;
    line-height: 1.5rem;
    margin-bottom: 10px
}

#usernameinput {
    width: 400px;
}

#emailinput {
    width: 400px;
    margin-bottom: 15px;
}

#discordpunishment {
    width: 400px;
}

.error{
    margin-left: 5px;
}

.select{
    width: 100%;
    max-width: 65%;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid #CCCCCC;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* CAUTION: IE hackery ahead */
.select::-ms-expand {
    display: none; /* remove default arrow on ie10 and ie11 */
}

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    .select {
        background: none\9;
        padding: 5px\9;
    }
}

.group{
    position: relative;
    margin: 30px 0 45px 0;
}

input{
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    border: none;
    border-bottom: 1px solid #757575;
    font-family: 'Open Sans', sans-serif;
}

input:focus{
    outline: none;
}

/* LABEL ======================================= */
label{
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    font-family: 'Open Sans', sans-serif;
}

/* active state */
input:focus ~ label, input:valid ~ label{
    top:-20px;
    font-size:14px;
    color: var(--font-color);
}

/* BOTTOM BARS ================================= */
.bar{
    position:relative;
    display:block;
    width:300px;
    height:2px;
    width:0;
    bottom:1px;
    background: var(--blue);
}
.bar:before, .bar:after{
    content:'';
    height:2px;
    width:0;
    bottom:1px;
    position:absolute;
    background: var(--blue);
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}

.bar:before{
    left:50%;
}

.bar:after{
    right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after{
    width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter{
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter{
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter{
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

textarea{
    padding: 6px;
    line-height: 1.618;
    font: 12px Verdana;
    display: block;
    font-family: 'Open Sans', sans-serif;
    resize: none;
    overflow: auto;
    width: 600px;
    min-height: 150px;
    height: auto;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.hide{
    display: none;
}

.error{
    color: var(--error);
}

.arrows-div{
    position: absolute;
    bottom: 40px;
    right: 40px;
}

.arrows{
    position: relative;
    display: inline-block;
    max-width: 100%;
    height: 50px;
}

.arrow{
    max-width: 100%;
    height: 50px;
}
